div {
  background: url(img/top_1.png)no-repeat center / cover;
  height: 675px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
  
  }